@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');
*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    outline: 0;
    font-weight: 300;
    box-sizing: border-box;
}
:root{
    --primary: #4B4DA1;
    --secondary: #30317C;
    --link: #2F96FA;
    --gray: #e5e5e5;
    --white: #FFFFFF;
    --black: #000000;
}

/*HEADER*/
header{
    background-color: var(--secondary);
    height: 6rem;
    display: flex;
    align-items: center;
}
header picture img {
    height: 4rem;
}
header nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
header nav ul li{
    margin: 0 1.5rem ;
}
header nav ul li a {
    text-decoration: none;
    font-size: 2 rem;
    color: var(--white)
}

/*MAIN*/
main{
    min-height: 83vh;
    background: var(--primary);
}
main h1 {
    margin: auto auto 3rem 3rem;
    text-decoration-line:underline;
    text-decoration-style: double;
    font-weight: bold;
    font-size: 6rem;
    color: var(--white)
}
main > section.main {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 4rem;
    justify-content: space-around;
    margin-left: 4rem;
    margin-right: 4rem;
}

/*FOOTER*/
footer {
    background-color: var(--secondary);
    height: 4rem;
}

/*CLASS*/
.content{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}


@media (max-width: 1234px) {
    main > section.main {
        grid-template-columns: auto auto;
    }
}
@media (max-width: 808px) {
    main > section.main {
        grid-template-columns: auto;
    }
}

/*CADASTRO*/
main section.cadst form a img {
    width: 1.5rem;
}

main section.cadst {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main section.cadst form {
    background-color: var(--white);
    border-radius: 1rem;
    padding: 3rem;
    width: 25rem;
}

main section.cadst form aside img {
    height: 4.5rem;
    display: block;
    margin: auto;
    margin-bottom: 1.4rem;
}

main section.cadst form div {
    display: flex;
    margin: 0.5rem 0;
}

main section.cadst form div input {
    width: 100%;
    font-size: 0.9rem;
    border: 0;
    background-color: var(--gray);   
}

main section.cadst form p a {
    text-decoration: none;
    color: var(--link);
    font-size: 0.8rem;
}

main section.cadst form p button {
    background-color: var(--secondary);
    color: var(--white);
    padding: 0.3rem;
    border: 0;
    border-radius: 0.6rem;
    width: 4.8rem;
    margin-left: 7.6rem;
}

/*MAIN LOGIN*/
main section.cadst form div p button {
    background-color: var(--secondary);
    color: var(--white);
    padding: 0.3rem;
    border: 0;
    border-radius: 0.6rem;
    width: 4.8rem;
    margin-left: 10.1rem;
}


/*HEADER FILME*/
header nav img {
    height: 4rem;
    margin-right: 1rem;
}

/*MAIN FILME*/
main section {
    min-height: 126vh;
    width: auto;
}

main a img {
    margin-left: 1rem;
    margin: 1rem auto 1rem 1rem ;
}

main picture img {
    margin: auto auto 2.6rem 3rem;
}

main div {
    margin: auto 0.2rem 0.5rem 3rem;
}

main div aside {
    display: inline-block;
}

main div aside picture img {
    height: 4.2rem;
    margin: 1rem 0.3rem;
}

main div aside button {
    background-color: transparent;
    border: 0;
    border-radius: 100%;
}

main div aside button img {
    height: 1.4rem;
    margin: auto auto 3.3rem 0.4rem;
}

main section aside div {
    margin-left: 14.2rem;
}