@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');
*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    outline: 0;
    font-weight: 300;
    box-sizing: border-box;
}
:root{
    --primary: #4B4DA1;
    --secondary: #30317C;
    --white: #FFFFFF;
    --black: #000000;
}

/*HEADER*/
header{
    background-color: var(--secondary);
    height: 6rem;
    display: flex;
    align-items: center;
}
header picture img {
    margin-left: 5rem;
    height: 4rem;
}
header nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
header nav ul li{
    margin: 0 1.5rem ;
}
header nav ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--white)
}

/*MAIN*/
main{
    min-height: 83vh;
    background: var(--primary);
}
main h1 {
    margin: auto auto 3rem 5rem;
    text-decoration-line:underline;
    text-decoration-style: double;
    font-weight: bold;
    font-size: 6rem;
    color: var(--white)
}
main > section.main {
    display: grid;@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');
2
*{
3
    font-family: "Roboto", sans-serif;
4
    margin: 0;
5
    padding: 0;
6
    outline: 0;
7
    font-weight: 300;
8
    box-sizing: border-box;
9
}
10
:root{
11
    --primary: #4B4DA1;
12
    --secondary: #30317C;
13
    --white: #FFFFFF;
14
    --black: #000000;
15
}
16
​
17
header{
18
    background-color: var(--secondary);
19
    height: 6rem;
20
    display: flex;
21
    align-items: center;
22
}
23
​
24
header picture img {
25
    height: 4rem;
26
}
27
​
28
header nav {
29
    width: 100%;
30
    display: flex;
31
    justify-content: flex-end;
32
}
33
​
34
header nav ul {
35
    list-style-type: none;
36
    display: flex;
37
    align-items: center;
38
}
39
​
40
header nav ul li{
41
    margin: 0 1.5rem ;
42@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');
2
*{
3
    font-family: "Roboto", sans-serif;
4
    margin: 0;
5
    padding: 0;
6
    outline: 0;
7
    font-weight: 300;
8
    box-sizing: border-box;
9
}
10
:root{
11
    --primary: #4B4DA1;
12
    --secondary: #30317C;
13
    --white: #FFFFFF;
14
    --black: #000000;
15
}
16
​
17
header{
18
    background-color: var(--secondary);
19
    height: 6rem;
20
    display: flex;
21
    align-items: center;
22
}
23
​
24
header picture img {
25
    height: 4rem;
26
}
27
​
28
header nav {
29
    width: 100%;
30
    display: flex;
31
    justify-content: flex-end;
32
}
33
​
34
header nav ul {
35
    list-style-type: none;
36
    display: flex;
37
    align-items: center;
38
}
39
​
40
header nav ul li{
41
    margin: 0 1.5rem ;
42
}@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');
2
*{
3
    font-family: "Roboto", sans-serif;
4
    margin: 0;
5
    padding: 0;
6
    outline: 0;
7
    font-weight: 300;
8
    box-sizing: border-box;
9
}
10
:root{
11
    --primary: #4B4DA1;
12
    --secondary: #30317C;
13
    --white: #FFFFFF;
14
    --black: #000000;
15
}
16
​
17
header{
18
    background-color: var(--secondary);
19
    height: 6rem;
20
    display: flex;
21
    align-items: center;
22
}
23
​
24
header picture img {
25
    height: 4rem;
26
}
27
​
28
header nav {
29
    width: 100%;
30
    display: flex;
31
    justify-content: flex-end;
32
}
33
​
34
header nav ul {
35
    list-style-type: none;
36
    display: flex;
37
    align-items: center;
38
}
39
​
40
header nav ul li{
41
    margin: 0 1.5rem ;
42
}
43
​@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');
2
*{
3
    font-family: "Roboto", sans-serif;
4
    margin: 0;
5
    padding: 0;
6
    outline: 0;
7
    font-weight: 300;
8
    box-sizing: border-box;
9
}
10
:root{
11
    --primary: #4B4DA1;
12
    --secondary: #30317C;
13
    --white: #FFFFFF;
14
    --black: #000000;
15
}
16
​
17
header{
18
    background-color: var(--secondary);
19
    height: 6rem;
20
    display: flex;
21
    align-items: center;
22
}
23
​
24
header picture img {
25
    height: 4rem;
26
}
27
​
28
header nav {
29
    width: 100%;
30
    display: flex;
31
    justify-content: flex-end;
32
}
33
​
34
header nav ul {
35
    list-style-type: none;
36
    display: flex;
37
    align-items: center;
38
}
39
​
40
header nav ul li{
41
    margin: 0 1.5rem ;
42
}
43
​@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');
2
*{
3
    font-family: "Roboto", sans-serif;
4
    margin: 0;
5
    padding: 0;
6
    outline: 0;
7
    font-weight: 300;
8
    box-sizing: border-box;
9
}
10
:root{
11
    --primary: #4B4DA1;
12
    --secondary: #30317C;
13
    --white: #FFFFFF;
14
    --black: #000000;
15
}
16
​
17
header{
18
    background-color: var(--secondary);
19
    height: 6rem;
20
    display: flex;
21
    align-items: center;
22
}
23
​
24
header picture img {
25
    height: 4rem;
26
}
27
​
28
header nav {
29
    width: 100%;
30
    display: flex;
31
    justify-content: flex-end;
32
}
33
​
34
header nav ul {
35
    list-style-type: none;
36
    display: flex;
37
    align-items: center;
38
}
39
​
40
header nav ul li{
41
    margin: 0 1.5rem ;
42@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');
2
*{
3
    font-family: "Roboto", sans-serif;
4
    margin: 0;
5
    padding: 0;
6
    outline: 0;
7
    font-weight: 300;
8
    box-sizing: border-box;
9
}
10
:root{
11
    --primary: #4B4DA1;
12
    --secondary: #30317C;
13
    --white: #FFFFFF;
14
    --black: #000000;
15
}
16
​
17
header{
18
    background-color: var(--secondary);
19
    height: 6rem;
20
    display: flex;
21
    align-items: center;
22
}
23
​
24
header picture img {
25
    height: 4rem;
26
}
27
​
28
header nav {
29
    width: 100%;
30
    display: flex;
31
    justify-content: flex-end;
32
}
33
​
34
header nav ul {
35
    list-style-type: none;
36
    display: flex;
37
    align-items: center;
38
}
39
​
40
header nav ul li{
41
    margin: 0 1.5rem ;
42
}
43
​
44
header nav ul li a {
45
    text-decoration: none;
}
43
​
44
header nav ul li a {
45
    text-decoration: none;
44
header nav ul li a {
45
    text-decoration: none;
44
header nav ul li a {
45
    text-decoration: none;
43
​
44
header nav ul li a {
45
    text-decoration: none;
}
43
​
44
header nav ul li a {
45
    text-decoration: none;
    grid-template-columns: auto auto auto;
    gap: 5rem;
    justify-content: space-around;
    margin-left: 8em;
    margin-right: 8rem;
}

/*FOOTER*/
footer {
    background-color: var(--secondary);
    height: 4rem;
}

/*CLASS CONTENT*/
.content{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
